h1 span{
  color: #9d6f24;
}
h2{
  color: #d56f3e;
}
#pets{
  display: flex;
  justify-content: space-evenly;
}
.card img{
  border-radius: 25px;
  width: 100%;  
}
.card{
  border: 2px solid black;
  border-radius: 25px;
  width: 400px;
  padding: 10px;
  margin: 10px;
}
h4 {
  text-align: right;
  color: #3c787e;
}
@media (max-width: 600px){
  #pets{
    flex-wrap: wrap;
  }
}
